#page-container {
	width: 760px;
	margin: auto;
}

#main-nav {
	background: red;
	height: 50px;
}

#strobeMediaPlayback {
    width: 600px;
    height: 400px;
    float: left;
}

#container {
    width: 250px;
    height: 250px;
    float: left;
}

#form {
	width: 600px;
    height: 400px;
}
