html {
	background-color: #666666;
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 1032px;
    background-color: #000000;
    border:2px solid;
	border-radius:10px;
}
#header {
	height: 20px;
	width: 1026px;
}
#strobeMediaPlayback {
	margin-left: auto;
	margin-right: auto;
	float: left;
	margin: 0 auto;
	width: 650px;
	height: 490px;
}
#sketch {
	background-color: #CCCC9A;
	float: left;
	width: 374px;
	height: 490px;
	border:2px solid;
	border-radius:10px;
	text-align: center;
}
#sketchInputText {
	margin-top: 20px;
	resize: none;
	border:2px solid;
	border-radius:10px;
}
#controlBox {
	background-color: #CCCC9A;
    float: left;
	width: 646px;
	height: 252px;
	text-align: center;
	border: 1px solid black;
	border:2px solid;
	border-radius:10px;
}
#control {
	background-color: #CCCC9A;
	width: 220px;
    height: 220px;
	margin: 0 auto;
}
#slider {
	background-color: #CCCC9A;
	margin: 0 auto;
    clear: left;
    height: 28px;
	width: 220px;
}
#control2 {
	background-color: #CCCC9A;
	float: left;
	border: 1px solid black;
	width: 374px;
	height: 252px;
    margin : 0 auto;
    border:2px solid;
	border-radius:10px;   
}
#footer {
	clear: left;
	width: 1026px;
	height: 20px;
}
